
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 

}
.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas{
    outline: 5px solid black;
    background-color: white;
    border-radius: 3px;
   
}
body{
    overflow: hidden;
    background-color: black;
    
}